extends layout

block content
	body.loginBody
		div.container
			div.row
				div.col-sm-6.col-md-4.col-md-offset-4.login
					img(src="images/logo.png" class="logo logo-animation")
					h1
						//
							div
								form(class='form-signin', action='/login', method='POST')
									input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
									input(type='password', name='password' class='form-control', placeholder='Password', required)
									button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
									span
							a(href='/signup', class='text-center new-account') Create an account
						#message
						if message
							h1.text-center #{message}

						h3(class="login__p") Log in met:
						a(href="/auth/facebook" class="btn btn-primary btn-lg") 
							span Facebook