$break-small: 320px;
$break-middle: 470px;
$break-large: 730px;

.nav
{
	z-index: 50;
	line-height: 70px;
	background-color: #3278B3;
	min-height: 70px;
	position: fixed;
	width: 100%;
	top:0;
	margin-bottom: 20px;

	@media screen and (min-width: $break-large) {
	    height: 70px;
	    text-align: left;
  	}

  	& h2
  	{
  		text-align: center;
  		margin-top: 0;
  		margin-bottom: 0;
  		display: block !important;
  		@media screen and (min-width: $break-small) {
			height: 40px;
  		}
  		@media screen and (min-width: $break-large) {
	    	margin-top: 20px;
	    	display: inline !important;
  		}
  	}

	&__link
	{
		color: white;
		line-height: 70px;
		@media screen and (min-width: $break-small) {
			line-height: 30px;
  		}
	}
	&__link:hover
	{
		text-decoration: none;
		color: lavender;
	}
	& .dropdown
	{
		color: white;
		margin-left: 10px;
		display: inline;
		width: 200px;
	}
	& h2
	{
		padding-left: 20px;
		color: white;
		display: inline;
	}
	& img
	{
		margin-left: 30% !important;
		display: inline;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		text-align: center !important;
		@media screen and (min-width: $break-middle) {
			text-align: left !important;
	    	display: inline;
	    	margin-left: 10px !important;
  		}

	}
}
header
{
	float: none;
	width: 330px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $break-middle) {
	    width: 470px;
  	}

	@media screen and (min-width: $break-large) {
	    float: right !important;
	    margin-right: 30px;
  	}

	& a
	{
		text-align: center;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
		float: left;
		height: 100%;
		color: white;
		margin-right: 0px;
		color: #EEEFF7;
		line-height: 20px;
		@media screen and (min-width: $break-middle) {
		    line-height: 70px;
  		}
	}
	& a:hover
	{
		text-decoration: none;
		background-color: #0B5782;
		color: white;
		}
}
.dropdown-menu
{
	padding: 5px !important;
	& li
	{
		border-radius: 0px;
		line-height: 20px !important;
		height: 20px !important;
		min-height: 0;
		padding-left: 5px;
		width: 100%;
		background-color: white;
		margin-bottom: 5px;
		padding: 2px;
		padding-top: 0 !important;
		list-style: none;
		color: black;
		box-shadow: none;
		font-size: 1em;
		overflow: visible;
	}
	& li:hover
	{
		box-shadow: none;
	}
	& a
	{
		float: none;
		padding-top: 0 !important;
		background-color: transparent;
		margin-bottom: 15px;
	}
	& a:hover
	{
		background-color: transparent !important;
	}
}