$break-small: 420;
$break-medium: 900px;
.usercount
{

	cursor:pointer;
	margin-left: 20%;

	&__icon
	{
		float: left;
		font-size: 20px !important;
	}
	&__number
	{
		font-size: 24px !important;
		float: left;
		margin-top: 0;
		padding-left: 3px;
	}

	@media screen and (max-width: $break-small) 
	{
	   	margin-left: 5%;
  	}
	@media screen and (max-width: $break-medium) 
	{
	   	margin-left: 10%;
  	}
}