body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 160px;
  background-color: #EEEFF7 !important;
  color: #3278B3 !important; }
  @media screen and (min-width: 470px) {
    body {
      padding-top: 140px; } }
  @media screen and (min-width: 750px) {
    body {
      padding-top: 70px; } }

.logo {
  width: 150px;
  text-align: center;
  padding-bottom: 30px; }

.login {
  text-align: center; }

.loginBody {
  background-color: #3278B3 !important;
  width: 100%;
  height: 100%;
  color: white !important; }

.login-title {
  margin-top: 35px;
  margin-bottom: 30px; }

.body__img {
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.body__div {
  margin-top: 15px;
  display: block;
  width: 415px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 320px) {
    .body__div {
      width: 250px; } }
  @media screen and (max-width: 420px) {
    .body__div {
      width: 250px; } }
.body__link {
  margin-left: 5px;
  margin-right: 5px; }
  @media screen and (max-width: 420px) {
    .body__link {
      width: 250px;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 10px !important; } }

h1 p {
  font-size: 0.5em;
  color: #3C5996; }

.CTA__link {
  background-color: #3278B3;
  width: 180px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.CTA__link:hover {
  background-color: #2A6496;
  text-decoration: none;
  color: white; }

.nav {
  z-index: 50;
  line-height: 70px;
  background-color: #3278B3;
  min-height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 20px; }
  @media screen and (min-width: 730px) {
    .nav {
      height: 70px;
      text-align: left; } }
  .nav h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    display: block !important; }
    @media screen and (min-width: 730px) {
      .nav h2 {
        margin-top: 20px;
        display: inline !important; } }
  .nav__link {
    color: white;
    line-height: 70px; }
  .nav__link:hover {
    text-decoration: none;
    color: lavender; }
  .nav .dropdown {
    color: white;
    margin-left: 10px;
    display: inline;
    width: 200px; }
  .nav h2 {
    padding-left: 20px;
    color: white;
    display: inline; }
  .nav img {
    margin-left: 30% !important;
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center !important; }
    @media screen and (min-width: 470px) {
      .nav img {
        text-align: left !important;
        display: inline;
        margin-left: 10px !important; } }

header {
  float: none;
  width: 330px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 470px) {
    header {
      width: 470px; } }
  @media screen and (min-width: 730px) {
    header {
      float: right !important;
      margin-right: 30px; } }
  header a {
    text-align: center;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    height: 100%;
    color: white;
    margin-right: 0px;
    color: #EEEFF7;
    line-height: 20px; }
    @media screen and (min-width: 470px) {
      header a {
        line-height: 70px; } }
  header a:hover {
    text-decoration: none;
    background-color: #0B5782;
    color: white; }

.dropdown-menu {
  padding: 5px !important; }
  .dropdown-menu li {
    border-radius: 0px;
    line-height: 20px !important;
    height: 20px !important;
    min-height: 0;
    padding-left: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    padding: 2px;
    padding-top: 0 !important;
    list-style: none;
    color: black;
    box-shadow: none;
    font-size: 1em;
    overflow: visible; }
  .dropdown-menu li:hover {
    box-shadow: none; }
  .dropdown-menu a {
    padding-top: 0 !important;
    background-color: transparent;
    margin-bottom: 15px; }
  .dropdown-menu a:hover {
    background-color: transparent !important; }

li {
  padding-top: 25px !important;
  font-size: 0.8em;
  min-height: 70px;
  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  @media screen and (max-width: 420) {
    li {
      width: 95% !important; } }
  @media screen and (max-width: 900px) {
    li {
      width: 80% !important; } }
  li h2 {
    color: #3278B3;
    padding-left: 10px;
    display: inline;
    font-size: 18px !important; }
  li a {
    padding-top: 2px;
    font-size: 16px;
    display: inline;
    float: right;
    padding-right: 10px; }
    li a img {
      max-height: 200px; }
  li p {
    padding-left: 10px;
    color: #3C5996; }

li:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }

.usercount {
  margin-left: 20%; }
  .usercount__icon {
    float: left;
    font-size: 20px !important; }
  .usercount__number {
    font-size: 24px !important;
    float: left;
    margin-top: 0;
    padding-left: 3px; }
  @media screen and (max-width: 420) {
    .usercount {
      margin-left: 5%; } }
  @media screen and (max-width: 900px) {
    .usercount {
      margin-left: 10%; } }

.input {
  clear: both;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 420px) {
    .input {
      width: 95% !important; } }
  @media screen and (max-width: 900px) {
    .input {
      width: 80% !important; } }
  .input__field {
    width: 80% !important;
    float: left; }
    @media screen and (max-width: 420px) {
      .input__field {
        width: 100% !important; } }
    @media screen and (min-width: 420px) {
      .input__field {
        width: 70% !important; } }
  .input__btn {
    float: left;
    margin-left: 1%;
    width: 19% !important;
    height: 34px;
    line-height: 18px !important;
    padding: 0 !important;
    margin-bottom: 20px !important; }
    @media screen and (max-width: 420px) {
      .input__btn {
        width: 100% !important;
        margin-left: 0 !important; } }
    @media screen and (min-width: 420px) {
      .input__btn {
        width: 29% !important; } }

.questions {
  clear: both; }
  .questions__list {
    padding-left: 0 !important;
    margin-bottom: 20px; }
  .questions__title {
    margin-left: 20%;
    margin-bottom: 0; }
    @media screen and (max-width: 420) {
      .questions__title {
        margin-left: 5%; } }
    @media screen and (max-width: 900px) {
      .questions__title {
        margin-left: 10%; } }

.breadcrumb li {
  display: inline !important;
  width: 90px;
  background-color: transparent;
  max-height: 30px !important;
  font-size: 16px;
  line-height: 30px;
  padding-top: 0px !important;
  border-radius: 0;
  box-shadow: none; }
  .breadcrumb li a {
    font-size: 16px;
    float: none; }

.comments {
  clear: both; }
  .comments__list {
    padding-left: 0 !important;
    margin-bottom: 20px; }
    .comments__list a {
      float: none !important; }
      .comments__list a img {
        max-width: 100%; }
  .comments__title {
    margin-left: 20%;
    margin-bottom: 0; }

.logo-animation {
  animation: logoAnimationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: logoAnimationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: logoAnimationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: logoAnimationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: logoAnimationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

@keyframes logoAnimationFrames {
  0% {
    opacity: 0;
    transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }
@-moz-keyframes logoAnimationFrames {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); } }
@-webkit-keyframes logoAnimationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }
@-o-keyframes logoAnimationFrames {
  0% {
    opacity: 0;
    -o-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px); } }
@-ms-keyframes logoAnimationFrames {
  0% {
    opacity: 0;
    -ms-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); } }
.animatedLi {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp; }

.CTA__link {
  animation: CTA__linkAnimationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: CTA__linkAnimationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: CTA__linkAnimationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: CTA__linkAnimationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: CTA__linkAnimationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%; }

@keyframes CTA__linkAnimationFrames {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  20% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  30% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  40% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  50% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  60% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  70% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  80% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  90% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  100% {
    transform: rotate(0deg) scaleX(1.2) scaleY(1.2); } }
@-moz-keyframes CTA__linkAnimationFrames {
  0% {
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -moz-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  20% {
    -moz-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  30% {
    -moz-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  40% {
    -moz-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  50% {
    -moz-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  60% {
    -moz-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  70% {
    -moz-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  80% {
    -moz-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  90% {
    -moz-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  100% {
    -moz-transform: rotate(0deg) scaleX(1.2) scaleY(1.2); } }
@-webkit-keyframes CTA__linkAnimationFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  20% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  30% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  40% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  50% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  60% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  70% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  80% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  90% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1.2) scaleY(1.2); } }
@-o-keyframes CTA__linkAnimationFrames {
  0% {
    -o-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -o-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  20% {
    -o-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  30% {
    -o-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  40% {
    -o-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  50% {
    -o-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  60% {
    -o-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  70% {
    -o-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  80% {
    -o-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  90% {
    -o-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  100% {
    -o-transform: rotate(0deg) scaleX(1.2) scaleY(1.2); } }
@-ms-keyframes CTA__linkAnimationFrames {
  0% {
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -ms-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  20% {
    -ms-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8); }
  30% {
    -ms-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  40% {
    -ms-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  50% {
    -ms-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  60% {
    -ms-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  70% {
    -ms-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  80% {
    -ms-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2); }
  90% {
    -ms-transform: rotate(3deg) scaleX(1.2) scaleY(1.2); }
  100% {
    -ms-transform: rotate(0deg) scaleX(1.2) scaleY(1.2); } }

/*# sourceMappingURL=style.css.map */
